.pagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pagination span{
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100%;
}

.active{
    border: 2px solid black !important;
    font-weight: bold;
}