
.header{
    background-color:#000;
    /* position: fixed;
    width: 100%;
    top: 0; */
  }
  
  .nav{
    color:#fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    border-bottom:1px solid slategray;
    align-items:center;
    z-index: 10;
  }
  
  .logo{
    font-weight: bold;
    color: #fff;
    z-index: 11;
  }
  
  .menu{
    display: flex;
    gap: 20px;
    align-items:center;
  }
  
  .menuLink{
    color: #fff;
  }
  
  .menuItem:hover{
    opacity: 0.7;
  }
  
  .cart {
    align-self: center;
    justify-self: end;
    position: relative;
    margin: 0 10px;
    margin-right: 15px;
    z-index: 10;
    position: relative;
  }
  
  .cart span {
    position: absolute;
    background-color: #fff;
    font-size: 11px;
    color: #000;
    border-radius: 50%;
    font-weight: bold;
    padding: 2px 5px;
    bottom: 0;
    right: -5px;
    align-items: center;
  }

  .menuBtn {
    width: 50px;
    height: 30px;
    border: none;
    display: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    align-self: center;
  }
  
  .menuBtn span:nth-child(1) {
    background-color: #fff;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;  
  }
  .menuBtn span:nth-child(2) {
    background-color: #fff;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0;
  }
  .menuBtn span:nth-child(3) {
    background-color: #fff;
    height: 1.5px;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
  }


  @media(max-width:870px){
    .menu {
      display: flex;
      transform: translateX(-105%);
      transition: transform 0.5s;
      position: absolute;
      background-color: #000;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      flex-direction: column;
      padding-top: 100px;
      align-items: center;
      gap: 20px;
      font-size: 26px;
    }

    .menuBtn {
      display: block;
      z-index: 10;
    }

    .show .menu {
      transform: translateX(0%);
    }
  
    .show span:nth-child(1) {
      transform: rotate(45deg);
      top: 15px;
    }
    .show .btnLine {
      display: none;
    }
    .show span:nth-child(3) {
      transform: rotate(-45deg);
      top: 15px;
    }
  }

  @media(max-width:620px){
    .logo{
      display: none;
    }
  }