html{
  box-sizing: border-box;
}

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

a{
  color:black;
  text-decoration: none;
}

.main__page{
  margin-top: 10px;
}

.main__page-inner{
  display: flex;
  gap: 20px;
}


@media(max-width:768px){
    .main__page-inner{
      flex-direction: column;
    }
}




.cartAnimation {
  animation: fly 1.5s 1;
  top: -700px;
  left: 100px;
  position: fixed;
  z-index: 9999;
}

@keyframes fly {
  0%{
      transform: translate(10vh, 90vh);
      opacity: .80;
      width: 60%
  }
  100%{
      transform: translate(90vw, 10vh);
      opacity: 0;
      width: 0%
  }
}

@media(max-width:660px){
  @keyframes fly {
    0%{
        transform: translate(0vh, 140vh);
        opacity: .80;
        width: 60%
    }
    100%{
        transform: translate(90vw, 10vh);
        opacity: 0;
        width: 0%
    }
  }
}