.slider{
    margin-top: 20px;
  }
  
  .sliderInner{
    background-image: url('../../../public/images/fon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:20px;
    background-position: 0 -130px;
    height: 400px;
  }
  
  .sliderTitle{
    max-width: 250px;
    color:#fff;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 30px;
    font-weight: bold;
  }

  @media (max-width:840px){
    .sliderInner{
      background-size: auto;
      background-position: left center;
      height: 200px;
    }
  }